{% extends "default.html" %}
{% block title %}Firmware Components{% endblock %}

{% block nav %}
{% include 'firmware-nav.html' %}
{% endblock %}

{% block content %}

{% for md in fw.mds|sort(attribute='priority',reverse=True) %}
<div class="card mt-3">
  <h2 class="card-header card-title list-group-item-{{'success' if md.appstream_type == 'generic' else 'primary'}}">
    {{md.name_with_category}}
    <span class="float-right"><code>{{md.appstream_id}}</code></span>
  </h2>
  <div class="card-body">
{% if md.version %}
    <p class="card-text">
      <small class="text-muted">Version: {{md.version_with_tag}}</small>
    </p>
{% endif %}
    <a class="card-link btn btn-info" href="{{url_for('components.route_show', component_id=md.component_id)}}">Details</a>
  </div>
</div>
{% endfor %}

{% if not fw.md_generic and fw.mds|length > 1 and fw.check_acl('@modify') %}
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">
      Create generic component?
    </h2>
    <td class="col col-sm-7">
      <p class="card-text">
        Composite devices such as docks may not have a top-level device
        which is suitable for the user to identify the combined device
        on the public pages of the LVFS.
        A generic component is <strong>not</strong> a hard requirement
        for a composite device and once created it <strong>cannot be
        removed</strong> until the firmware is deleted.
      </p>
    </td>
    <form method="post" action="{{url_for('firmware.route_generic_create', firmware_id=fw.firmware_id)}}" class="form">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <input type="submit" class="btn btn-warning card-link" value="Create"/>
    </form>
  </div>
</div>
{% endif %}

{% endblock %}
