{% extends "default.html" %}
{% block title %}Update Client ACL Details{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Update Client ACL Details</h2>
<form method="post" action="{{url_for('clients.route_acl_modify', client_acl_id=cacl.client_acl_id)}}">
  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
  <div class="form-group">
    <label for="addr">Address:</label>
    <input type="text" class="form-control" id="addr" name="addr" value="{{cacl.addr}}" required />
  </div>
  <div class="form-group">
    <label for="name">Message:</label>
    <input type="text" class="form-control" id="message" name="message" value="{{cacl.message if cacl.message}}" required />
  </div>
  <div class="form-group">
    <label for="name">Comment:</label>
    <input type="text" class="form-control" id="comment" name="comment" value="{{cacl.comment if cacl.comment}}" />
  </div>
{% if cacl.resource or 1 %}
  <p class="secondary">
    On the last access, <code>{{cacl.user_agent}}</code> tried to download <code>{{cacl.resource}}</code>.
  </p>
{% endif %}
  <input type="submit" class="card-link btn btn-primary" value="Save">
  <button type="button" class="card-link btn btn-danger" data-toggle="modal" data-target="#deleteModal">Delete</button>
</form>
  </div>
</div>

{% if clients|length %}
<div class="card mt-3">
  <div class="card-body">
    <h2 class="card-title">Matching Clients</h2>
    <table class="table">
      <tr class="row">
        <th class="col-2">Timestamp</th>
        <th class="col-7">Useragent</th>
        <th class="col-2">Firmware</th>
        <th class="col-1">Country</th>
      </tr>
{% for c in clients %}
      <tr class="row">
        <td class="col-2">{{c.timestamp.strftime('%F %T')}}</td>
        <td class="col-7"><code>{{c.user_agent}}</code></td>
        <td class="col-2">{{c.fw.md_prio.name_with_vendor}}</td>
        <td class="col-1"><code>{{c.country_code}}</code></td>
      </tr>
{% endfor %}
    </table>
    <form action="{{url_for('clients.route_acl_delete_clients', client_acl_id=cacl.client_acl_id)}}" method="POST">
      <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
      <button class="btn card-link btn-danger">Delete</button>
    </form>
  </div>
</div>
{% endif %}

<!-- modal dialog -->
<div class="modal" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Really Delete Client ACL?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Once deleted, ACLs cannot be recovered.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <form action="{{url_for('clients.route_acl_delete', client_acl_id=cacl.client_acl_id)}}" method="POST">
          <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
