{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}

<!-- navigation -->

<div class="container">

  <nav class="navbar navbar-vertical navbar-expand-lg navbar-light navbar-glass">
    <a class="navbar-brand text-left" href="{{url_for('main.route_dashboard')}}">
      <div class="d-flex align-items-center text-primary py-3">
        <div class="d-inline-flex flex-center">
          <img class="mr-2" src="{{url_for('cdn', filename='avatar.png')}}" alt="" width="40" />
          <span class="text-sans-serif">LVFS</span>
        </div>
      </div>
    </a>
    <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
      <ul class="navbar-nav flex-column">
        <li class="nav-item">
          <a class="nav-link dropdown-indicator" href="#home" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="home">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon">
                <img class="fa" src="{{url_for('cdn', filename='img/home-solid.svg')}}" width="16px" height="16px" />
              </span>
              <span>Home</span>
            </div>
          </a>
          <ul class="nav collapse {{'show' if category == 'home'}}" id="home" data-parent="#navbarVerticalCollapse">
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'main.route_dashboard'}}">
              <a class="nav-link" href="{{url_for('main.route_dashboard')}}">Dashboard</a>
            </li>
{% if g.user.vendor.check_acl('@manage-users') %}
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'vendors.route_users'}}">
              <a class="nav-link" href="{{url_for('vendors.route_users', vendor_id=g.user.vendor_id)}}">Vendor</a>
            </li>
{% endif %}
{% if g.user.check_acl('@view-eventlog') %}
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'main.route_eventlog'}}">
              <a class="nav-link" href="{{url_for('main.route_eventlog')}}">Events</a>
            </li>
{% endif %}
{% if g.user.check_acl('@translate-export') %}
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'translations.route_list'}}">
              <a class="nav-link" href="{{url_for('translations.route_list')}}">Translations</a>
            </li>
{% endif %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-indicator" href="#firmware" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="firmware">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon">
                <img class="fa" src="{{url_for('cdn', filename='img/microchip-solid.svg')}}" width="16px" height="16px" />
              </span>
              <span>Firmware</span>
            </div>
          </a>
          <ul class="nav collapse {{'show' if category == 'firmware'}}" id="firmware" data-parent="#navbarVerticalCollapse">
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'upload.route_firmware'}}">
              <a class="nav-link" href="{{url_for('upload.route_firmware')}}">Upload new</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'firmware.route_firmware' and state == 'private'}}">
              <a class="nav-link" href="{{url_for('firmware.route_firmware', state='private')}}">State :: Private</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'firmware.route_firmware' and state == 'embargo'}}">
              <a class="nav-link" href="{{url_for('firmware.route_firmware', state='embargo')}}">State :: Embargo</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'firmware.route_firmware' and state == 'testing'}}">
              <a class="nav-link" href="{{url_for('firmware.route_firmware', state='testing')}}">State :: Testing</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'firmware.route_firmware' and state == 'stable'}}">
              <a class="nav-link" href="{{url_for('firmware.route_firmware', state='stable')}}">State :: Stable</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'firmware.route_firmware' and state == 'deleted'}}">
              <a class="nav-link" href="{{url_for('firmware.route_firmware', state='deleted')}}">State :: Deleted</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'firmware.route_events'}}">
              <a class="nav-link" href="{{url_for('firmware.route_events')}}">State :: Events</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'firmware.route_firmware' and not state}}">
              <a class="nav-link" href="{{url_for('firmware.route_firmware')}}">State :: All</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'firmware.route_user'}}">
              <a class="nav-link" href="{{url_for('firmware.route_user')}}">User :: All</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'devices.route_status'}}">
              <a class="nav-link" href="{{url_for('devices.route_status')}}">Devices</a>
            </li>
{% if g.user.check_acl('@view-issues') %}
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'issues.route_list'}}">
              <a class="nav-link" href="{{url_for('issues.route_list')}}">Known Issues</a>
            </li>
{% endif %}
{% if g.user.check_acl('@yara-query') %}
            <li class="nav-item {{'active' if request.url_rule.endpoint.startswith('queries.route_')}}">
              <a class="nav-link" href="{{url_for('queries.route_new')}}">Queries</a>
            </li>
{% endif %}
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'metadata.route_view'}}">
              <a class="nav-link" href="{{url_for('metadata.route_view')}}">Metadata</a>
            </li>
{% if g.user.check_acl('@partner') %}
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'shards.route_list'}}">
              <a class="nav-link" href="{{url_for('shards.route_list')}}">Component GUIDs</a>
            </li>
{% endif %}
          </ul>
        </li>
{% if not g.user.vendor.do_not_track and g.user.check_acl('@view-analytics') %}
        <li class="nav-item">
          <a class="nav-link dropdown-indicator" href="#telemetry" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="telemetry">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon">
                <img class="fa" src="{{url_for('cdn', filename='img/broadcast-tower-solid.svg')}}" width="16px" height="16px" />
              </span>
              <span>Telemetry</span>
            </div>
          </a>
          <ul class="nav collapse {{'show' if category == 'telemetry'}}" id="telemetry" data-parent="#navbarVerticalCollapse">
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'telemetry.route_show' and age==0 and sort_key=='download_cnt'}}">
              <a class="nav-link" href="{{url_for('telemetry.route_show', age=0, sort_key='download_cnt', sort_direction='up')}}">Downloads</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'telemetry.route_show' and age==0 and sort_key=='success'}}">
              <a class="nav-link" href="{{url_for('telemetry.route_show', age=0, sort_key='success', sort_direction='down')}}">Success</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'telemetry.route_show' and age==30}}">
              <a class="nav-link" href="{{url_for('telemetry.route_show', age=30)}}">Last 30 days</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'telemetry.route_show' and age==180}}">
              <a class="nav-link" href="{{url_for('telemetry.route_show', age=180)}}">Last 6 months</a>
            </li>
{% if g.user.check_acl('@vendor-manager') %}
            <li class="nav-item {{'active' if request.url_rule.endpoint.startswith('mdsync.route')}}">
              <a class="nav-link" href="{{url_for('mdsync.route_list')}}">Partner Metadata</a>
            </li>
{% endif %}
          </ul>
        </li>
{% endif %}
{% if g.user.check_acl('@admin') %}
        <li class="nav-item">
          <a class="nav-link dropdown-indicator" href="#admin" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="admin">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon">
                <img class="fa" src="{{url_for('cdn', filename='img/user-shield-solid.svg')}}" width="16px" height="16px" />
              </span>
              <span>Admin</span>
            </div>
          </a>
          <ul class="nav collapse {{'show' if category == 'admin'}}" id="admin" data-parent="#navbarVerticalCollapse">
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'users.route_list'}}">
              <a class="nav-link" href="{{url_for('users.route_list')}}">User List</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint.startswith('protocols.route_')}}">
              <a class="nav-link" href="{{url_for('protocols.route_list')}}">Flashing Protocols</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint.startswith('mirrors.route_')}}">
              <a class="nav-link" href="{{url_for('mirrors.route_list')}}">Mirror Sync</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint.startswith('categories.route_')}}">
              <a class="nav-link" href="{{url_for('categories.route_list')}}">Update Categories</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint.startswith('verfmts.route_')}}">
              <a class="nav-link" href="{{url_for('verfmts.route_list')}}">Version Formats</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'claims.route_list'}}">
              <a class="nav-link" href="{{url_for('claims.route_list')}}">Component Claims</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint.startswith('licenses.route_')}}">
              <a class="nav-link" href="{{url_for('licenses.route_list')}}">Licenses</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint.startswith('agreements.route_')}}">
              <a class="nav-link" href="{{url_for('agreements.route_list')}}">Agreements</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint.startswith('hsireports.route_')}}">
              <a class="nav-link" href="{{url_for('hsireports.route_entry_list')}}">HSI Attributes</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'hsireports.route_list'}}">
              <a class="nav-link" href="{{url_for('hsireports.route_list')}}">HSI Reports</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint.startswith('tasks.route_')}}">
              <a class="nav-link" href="{{url_for('tasks.route_list')}}">Async Tasks</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'geoip.route_view'}}">
              <a class="nav-link" href="{{url_for('geoip.route_view')}}">GeoIP</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint.startswith('clients.route_acl_')}}">
              <a class="nav-link" href="{{url_for('clients.route_acl_list')}}">Client ACLs</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint.startswith('fsck.route_')}}">
              <a class="nav-link" href="{{url_for('fsck.route_view')}}">File System Check</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-indicator" href="#settings" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="settings">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon">
                <img class="fa" src="{{url_for('cdn', filename='img/cogs-solid.svg')}}" width="16px" height="16px" />
              </span>
              <span>Plugins</span>
            </div>
          </a>
          <ul class="nav collapse {{'show' if category == 'settings'}}" id="settings" data-parent="#navbarVerticalCollapse">
{% for plugin in loader_plugins %}
            <li class="nav-item {{'active' if category == 'settings' and plugin_id == plugin.id}}">
              <a class="nav-link" href="{{url_for('settings.route_view', plugin_id=plugin.id)}}">{{plugin.name}}</a>
            </li>
{% endfor %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-indicator" href="#vendors" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="vendors">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon">
                <img class="fa" src="{{url_for('cdn', filename='img/user-tie-solid.svg')}}" width="16px" height="16px" />
              </span>
              <span>Vendors</span>
            </div>
          </a>
          <ul class="nav collapse {{'show' if category == 'vendors'}}" id="vendors" data-parent="#navbarVerticalCollapse">
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'vendors.route_list_admin'}}">
              <a class="nav-link" href="{{url_for('vendors.route_list_admin')}}">Overview</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'vendors.route_list_analytics' and page=='publicfw'}}">
              <a class="nav-link" href="{{url_for('vendors.route_list_analytics', page='publicfw')}}">Total Firmware</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'vendors.route_list_analytics' and page=='downloads'}}">
              <a class="nav-link" href="{{url_for('vendors.route_list_analytics', page='downloads')}}">Client Downloads</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'vendors.route_list_analytics' and page=='devices'}}">
              <a class="nav-link" href="{{url_for('vendors.route_list_analytics', page='devices')}}">Supported Devices</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-indicator" href="#analytics" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="analytics">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon">
                <img class="fa" src="{{url_for('cdn', filename='img/chart-line-solid.svg')}}" width="16px" height="16px" />
              </span>
              <span>Analytics</span>
            </div>
          </a>
          <ul class="nav collapse {{'show' if category == 'analytics'}}" id="analytics" data-parent="#navbarVerticalCollapse">
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'analytics.route_day'}}">
              <a class="nav-link" href="{{url_for('analytics.route_day')}}">Download Day</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'analytics.route_month'}}">
              <a class="nav-link" href="{{url_for('analytics.route_month')}}">Download Month</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'analytics.route_year'}}">
              <a class="nav-link" href="{{url_for('analytics.route_year')}}">Download Year</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'analytics.route_user_agents' and kind == 'APP'}}">
              <a class="nav-link" href="{{url_for('analytics.route_user_agents', kind='APP')}}">Downloads :: App</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'analytics.route_user_agents' and kind == 'FWUPD'}}">
              <a class="nav-link" href="{{url_for('analytics.route_user_agents', kind='FWUPD')}}">Downloads :: fwupd</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'analytics.route_user_agents' and kind == 'LANG'}}">
              <a class="nav-link" href="{{url_for('analytics.route_user_agents', kind='LANG')}}">Downloads :: Lang</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'analytics.route_user_agents' and kind == 'DISTRO'}}">
              <a class="nav-link" href="{{url_for('analytics.route_user_agents', kind='DISTRO')}}">Downloads :: Distro</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'analytics.route_user_agents' and kind == 'COUNTRY'}}">
              <a class="nav-link" href="{{url_for('analytics.route_user_agents', kind='COUNTRY')}}">Downloads :: Country</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'analytics.route_vendor'}}">
              <a class="nav-link" href="{{url_for('analytics.route_vendor')}}">Downloads :: Vendor</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'analytics.route_devices'}}">
              <a class="nav-link" href="{{url_for('analytics.route_devices')}}">Downloads :: Devices</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'analytics.route_firmware'}}">
              <a class="nav-link" href="{{url_for('analytics.route_firmware')}}">Downloads :: Firmware</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'analytics.route_claim'}}">
              <a class="nav-link" href="{{url_for('analytics.route_claim')}}">Component Claims</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'analytics.route_microcode'}}">
              <a class="nav-link" href="{{url_for('analytics.route_microcode')}}">Intel Microcode</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'analytics.route_issues'}}">
              <a class="nav-link" href="{{url_for('analytics.route_issues')}}">Issue Timeline</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'analytics.route_reportattrs'}}">
              <a class="nav-link" href="{{url_for('analytics.route_reportattrs')}}">Report Attributes</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'analytics.route_clients'}}">
              <a class="nav-link" href="{{url_for('analytics.route_clients')}}">Recent Downloads</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'analytics.route_reports' and user_id == None}}">
              <a class="nav-link" href="{{url_for('analytics.route_reports')}}">Recent Reports</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'analytics.route_reports' and user_id != None}}">
              <a class="nav-link" href="{{url_for('analytics.route_reports', user_id=0)}}">Recent User Reports</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'analytics.route_search_history'}}">
              <a class="nav-link" href="{{url_for('analytics.route_search_history')}}">Recent Searches</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'analytics.route_search_stats'}}">
              <a class="nav-link" href="{{url_for('analytics.route_search_stats')}}">Popular Searches</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-indicator" href="#tests" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="tests">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon">
                <img class="fa" src="{{url_for('cdn', filename='img/vial-solid.svg')}}" width="16px" height="16px" />
              </span>
              <span>Runtime Tests</span>
            </div>
          </a>
          <ul class="nav collapse {{'show' if category == 'tests'}}" id="tests" data-parent="#navbarVerticalCollapse">
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'tests.route_pending'}}">
              <a class="nav-link" href="{{url_for('tests.route_pending')}}">Pending</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'tests.route_running'}}">
              <a class="nav-link" href="{{url_for('tests.route_running')}}">Running</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'tests.route_failed'}}">
              <a class="nav-link" href="{{url_for('tests.route_failed')}}">Failed</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'tests.route_waived'}}">
              <a class="nav-link" href="{{url_for('tests.route_waived')}}">Waived</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'tests.route_recent'}}">
              <a class="nav-link" href="{{url_for('tests.route_recent')}}">Recent</a>
            </li>
          </ul>
        </li>
{% endif %}
      </ul>
      <hr class="border-300 my-2" />
      <ul class="navbar-nav flex-column">
        <li class="nav-item">
          <a class="nav-link dropdown-indicator" href="#documentation" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="documentation">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon">
                <img class="fa" src="{{url_for('cdn', filename='img/book-solid.svg')}}" width="16px" height="16px" />
              </span>
              <span>Documentation</span>
            </div>
          </a>
          <ul class="nav collapse {{'show' if category == 'documentation'}}" id="documentation" data-parent="#navbarVerticalCollapse">
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'docs.route_agreement'}}">
              <a class="nav-link" href="{{url_for('docs.route_agreement')}}">Vendor Agreement</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'docs.route_metainfo'}}">
              <a class="nav-link" href="{{url_for('docs.route_metainfo')}}">External Documentation</a>
            </li>
            <li class="nav-item {{'active' if request.url_rule.endpoint == 'docs.route_consulting'}}">
              <a class="nav-link" href="{{url_for('docs.route_consulting')}}">Consulting</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <div class="content">

    <!-- searchbar -->
    <nav class="navbar navbar-light navbar-glass fs--1 font-weight-semi-bold row navbar-top sticky-kit navbar-expand">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button><a class="navbar-brand text-left ml-3" href="../index.html">
        <div class="d-flex align-items-center text-primary">
          <div class="d-inline-flex flex-center">
            <img class="mr-2" src="{{url_for('cdn', filename='avatar.png')}}" alt="" width="40" />
            <span class="text-sans-serif">LVFS</span>
          </div>
        </div>
      </a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown1">
        <ul class="navbar-nav align-items-center d-none d-lg-block">
          <li class="nav-item">
            <form class="form-inline search-box" action="{{url_for('search.route_fw')}}">
              <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
              <input class="form-control rounded-pill" type="search" placeholder="Search firmware..." name="value" aria-label="Search" />
            </form>
          </li>
        </ul>
        <ul class="navbar-nav align-items-center ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link pr-0" id="navbarDropdownUser" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
{% if g.user.check_acl('@admin') %}
            <span class="badge badge-danger text-uppercase">Admin</span>
{% endif %}
{% if g.user.check_acl('@qa') %}
            <span class="badge badge-warning text-uppercase">QA</span>
{% else %}
            <span class="badge badge-info text-uppercase">Limited</span>
{% endif %}
{% if g.user.check_acl('@analyst') %}
            <span class="badge badge-info text-uppercase">Analyst</span>
{% endif %}
{% if g.user.check_acl('@vendor-manager') %}
            <span class="badge badge-info text-uppercase">Manager</span>
{% endif %}
{% if g.user.check_acl('@approved-public') %}
            <span class="badge badge-success text-uppercase">Trusted</span>
{% else %}
            <span class="badge badge-info text-uppercase">Untrusted</span>
{% endif %}
            <img class="fa" src="{{url_for('cdn', filename='img/user-solid.svg')}}" width="24px" height="24px" />
            </a>
            <div class="dropdown-menu dropdown-menu-right py-0" aria-labelledby="navbarDropdownUser">
              <div class="bg-white rounded-soft py-2">
                <a class="dropdown-item" href="{{url_for('main.route_profile')}}">Profile Settings</a>
                <div class="dropdown-divider"></div>
{% if g.user.groups %}
{% for ug in g.user.groups|sort(attribute='vendor.display_name') %}
{% if ug.vendor_id != g.user.vendor_id %}
                <form action="{{url_for('users.route_group_switch', user_id=g.user.user_id, user_group_id=ug.user_group_id)}}" method="POST">
                  <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
                  <button class="dropdown-item">Switch to {{ug.vendor.display_name_with_team}}</button>
                </form>
{% endif %}
{% endfor %}
                <div class="dropdown-divider"></div>
{% endif %}
                <a class="dropdown-item" href="{{url_for('main.route_logout')}}">Logout</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>

<!-- any flashed messages -->
{% for category, msg in get_flashed_messages(with_categories=true) %}
<div class="alert alert-{{ category }}" role="alert">
  {{ msg }}
</div>
{% endfor %}

{% if g.user.auth_warning %}
<!-- notify user about authentication problem -->
<div class="container mt-3">
  <div class="alert alert-warning" role="alert">
    <strong>{{g.user.auth_warning}}</strong>
  </div>
</div>
{% endif %}

{% block nav %}{% endblock %}
{% block content %}{% endblock %}

    <!-- footer -->
    <footer>
      <div class="row no-gutters justify-content-between fs--1 mt-4 mb-3">
        <div class="col-12 col-sm-auto">
          <p class="mb-0">
            <a class="text-700" href="https://{{g.host_name}}?container_id={{g.container_id}}&release={{g.release}}">LVFS</a>
            &copy; 2015 <a class="text-700" href="mailto:richard@hughsie.com">Richard Hughes</a>
          </p>
          <p class="mb-0">
            Linux Vendor Firmware Service Project a Series of LF Projects, LLC
          </p>
        </div>
      </div>
    </footer>

  </div>
</div>

{% endblock %}
