{% extends "default.html" %}
{% block title %}Analytics{% endblock %}

{% block content %}
<div class="card">
  <div class="card-body">
<script src="{{url_for('cdn', filename='Chart.js')}}"></script>
<script>
Chart.defaults.global.animation = false;
</script>
<canvas id="metadataChartMonthsDays" width="1000" height="600"></canvas>
  </div>
</div>
<script>
var ctx = document.getElementById("metadataChartMonthsDays").getContext("2d");
var data = {
    labels: {{labels_days|safe}},
    datasets: [
        {
            label: "Firmware",
            borderColor: "rgba(20,120,220,0.2)",
            backgroundColor: "rgba(20,120,220,0.2)",
            data: {{data_days|safe}}
        },
    ]
};

new Chart(ctx, {
    type: 'line',
    data: data,
    options: {
        legend: {
            display: false
        },
        scales: {
            yAxes: [{
                ticks: {
                    precision: 0,
                    beginAtZero: true
                }
            }]
        }
    }
});

</script>
{% endblock %}
