{% extends "public.html" %}
{% block title %}Home{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{url_for('cdn', filename='swiper-bundle.min.css')}}">
{% endblock %}

{% block script %}
<script src="{{url_for('cdn', filename='stickyfill.min.js')}}"></script>
<script src="{{url_for('cdn', filename='sticky-kit.js')}}"></script>
<script src="{{url_for('cdn', filename='swiper-bundle.min.js')}}"></script>

<script>
const swiper = new Swiper('.swiper', {
  loop: true,
  navigation: {
    enabled: false,
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },
  autoplay: {
    delay: 10000,
  },
});
</script>

{% endblock %}

{% block content2 %}

<!-- jumbotron -->
<section class="py-0 overflow-hidden" id="banner">
  <div class="bg-holder overlay" style="background-image:url({{url_for('cdn', filename='bg-2.jpg')}});background-position: center bottom;">
  </div>
  <div class="container pt-6 pt-lg-8">
{% for category, msg in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ category }}" role="alert">
      {{ msg }}
    </div>
{% endfor %}
    <div class="row justify-content-center align-items-center pb-lg-9 pb-xl-0">
      <div class="col-md-11 col-lg-8 col-xl-4 pb-7 pb-xl-9 text-center text-xl-left">
        <h1 class="text-white font-weight-light">Linux Vendor Firmware Service</h1>
        <p class="lead text-400">
          The Linux Vendor Firmware Service is a secure portal which allows hardware vendors to upload firmware updates.
        </p>
        <p class="lead text-400">
          This site is used by all major Linux distributions to provide metadata for clients such as fwupdmgr and GNOME Software.
        </p>
        <p class="lead text-400">
          There is no charge to vendors for the hosting or distribution of content.
          Consulting companies can offer advice <a href="{{url_for('docs.route_consulting')}}">and help you get on the LVFS</a>.
        </p>
      </div>
      <div class="col-xl-7 offset-xl-1 align-self-end">
        <a class="img-landing-bannar" href="{{url_for('docs.route_introduction')}}">
          <img class="img-fluid" src="{{url_for('cdn', filename='img/dashboard.png')}}" alt="" />
        </a>
      </div>
    </div>
  </div>
</section>

<!-- list of logos -->
<section class="py-3 bg-light shadow-sm">
  <div class="container">
    <div class="row justify-content-center align-items-center">
{% for v in vendors_logo %}
      <div class="col-3 col-sm-auto my-1 my-sm-3">
        <img class="landing-cta-img grayscale" height="64" width="64" src="/uploads/{{v.icon}}" alt="{{v.display_name}}" />
      </div>
{% endfor %}
    </div>
  </div>
</section>

<!-- vendors, users, developers -->
<section class="bg-light text-center">
  <div class="container">
    <div class="row mt-0">
      <div class="col-lg-4">
        <div class="card card-span h-100">
          <div class="card-span-img">
            <img class="fa" src="{{url_for('cdn', filename='img/user-tie-solid.svg')}}" width="48px" height="48px" />
          </div>
          <div class="card-body pt-6 pb-4">
            <h5 class="mb-2">Hardware Vendors</h5>
            <p class="card-text">
              Hardware vendors upload redistributable firmware to the LVFS site
              packaged up in an industry-standard <code>.cab</code> archive along
              with a Linux-specific metadata file.
            </p>
            <a href="{{url_for('docs.route_vendors')}}" class="card-link">More information &raquo;</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-6 mt-lg-0">
        <div class="card card-span h-100">
          <div class="card-span-img">
            <img class="fa" src="{{url_for('cdn', filename='img/users-solid.svg')}}" width="48px" height="48px" />
          </div>
          <div class="card-body pt-6 pb-4">
            <h5 class="mb-2">End Users</h5>
            <p class="card-text">
              The fwupd daemon allows session software to update device firmware on
              the local machine.
              Designed for desktops, it is also usable on phones, tablets and on servers.
            </p>
            <a href="{{url_for('docs.route_users')}}" class="card-link">More information &raquo;</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mt-6 mt-lg-0">
        <div class="card card-span h-100">
          <div class="card-span-img">
            <img class="fa" src="{{url_for('cdn', filename='img/user-cog-solid.svg')}}" width="48px" height="48px" />
          </div>
          <div class="card-body pt-6 pb-4">
            <h5 class="mb-2">Developers</h5>
            <p class="card-text">
              LVFS and fwupd are Open Source projects with contributions
              from dozens of people from different companies.
              Plugins allow many different protocols to be supported.
            </p>
            <a href="{{url_for('docs.route_developers')}}" class="card-link">More information &raquo;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- quotes -->
<section class="bg-200 text-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="swiper">
        <div class="swiper-wrapper">
{% for v in vendors_quote %}
          <div class="px-5 px-sm-6 swiper-slide">
            <p class="fs-sm-1 fs-md-2 font-italic text-dark">
              “{{v.quote_text}}”
            </p>
            <p class="fs-0 text-600">- {{v.quote_author}}, {{v.display_name}}</p>
            <img class="w-auto mx-auto" src="/uploads/{{v.icon}}" alt="" height="64" />
          </div>
{% endfor %}
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
